<table id="allProducts" class=" display table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Restock</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                 <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Restock</th>      
                <th>Delete</th>
            </tr>
        </tfoot>
        <tbody>
           #foreach($product in $products)
            <tr>
                <td>product.getName()</td>
                <td>product.getDescription()</td>
                <td>product.getPrice()</td>
                <td>product.getQuantity()</td>
                <form action="$allProducts/product.getId()/restock" method="post">
                	<td><button type="submit" class="btn btn-success">Restock</button></td>
							</form>
                <form action="$allProducts/product.getId()/update" method="post">
                	<td><button type="submit" data-toggle="modal" data-target="#exampleModal" class="btn btn-primary">Update</button></td>	
                </form> 
                <form action="$allProducts/product.getId()/delete" method="post">
                	<td><button type="submit" class="btn  btn-danger">Delete</button></td>
                </form>
            </tr>
         		#end
         		
         		
           
        </tbody>
    </table>
    
   			